@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Questrial';
  src: url('../fonts/questrial/Questrial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'M Plus 1';
  src: url('../fonts/M_PLUS_1/MPLUS1-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  src: url('../fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular.ttf')
    format('truetype');
}
