@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Questrial";
  font-style: "normal";
  font-display: "swap";
  src: url("../fonts/questrial/Questrial-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "M Plus 1";
  font-style: "normal";
  font-display: "swap";
  src: url("../fonts/M_PLUS_1/MPLUS1-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Zen Kaku Gothic Antique";
  font-style: "normal";
  font-display: "swap";
  src: url("../fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular.ttf")
    format("truetype");
}

@layer utilities {
  video:fullscreen {
    @apply object-contain;
    @apply h-full;
    @apply w-full;
    @apply p-0;
  }

  video:-webkit-full-screen {
    @apply object-contain;
  }

  video:-moz-full-screen {
    @apply object-contain;
  }

  video:-ms-fullscreen {
    @apply object-contain;
  }

  .header-text-transparent {
    -webkit-text-fill-color: transparent;
  }
}
