@import "tailwindcss";

@font-face {
  font-family: "Questrial";
  font-style: "normal";
  font-display: "swap";
  src: url("../fonts/questrial/Questrial-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "M Plus 1";
  font-style: "normal";
  font-display: "swap";
  src: url("../fonts/M_PLUS_1/MPLUS1-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Zen Kaku Gothic Antique";
  font-style: "normal";
  font-display: "swap";
  src: url("../fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular.ttf")
    format("truetype");
}

@theme {
  --color-rich-black-fogra29: #0d1f2d;
  --color-romance: #f2efe8;

  --font-sans: "Zen Kaku Gothic Antique, sans-serif";
  --font-questrial: "Questrial, sans-serif";
}

@keyframes fade-in {
  0% {
    opacity: "0.5";
  }
  50% {
    opacity: "0.7";
  }
  100% {
    opacity: "1";
  }
}

@keyframes fade-out {
  0% {
    opacity: "1";
  }
  50% {
    opacity: "0.7";
  }
  100% {
    opacity: "0.5";
  }
}

@keyframes full-fade-in {
  0% {
    opacity: "0";
  }
  50% {
    opacity: "0.5";
  }
  100% {
    opacity: "1";
  }
}

@keyframes full-fade-out {
  0% {
    opacity: "1";
  }
  50% {
    opacity: "0.6";
  }
  100% {
    opacity: "0";
  }
}

@keyframes float {
  0%,
  100% {
    transform: "translateY(0%)";
  }
  50% {
    transform: "translateY(2%)";
  }
}

@keyframes collapse {
  0% {
    transform: "translateY(0%)";
    opacity: "1";
  }
  50% {
    transform: "translateY(10%)";
    opacity: "0";
    display: "none";
  }
  100% {
    transform: "translateY(100%)";
    opacity: "0";
    display: "none";
  }
}

@keyframes expand {
  0% {
    transform: "translateY(100%)";
    opacity: "0";
  }
  50% {
    transform: "translateY(10%)";
    opacity: "0";
  }
  100% {
    transform: "translateY(0%)";
    opacity: "1";
  }
}

@layer utilities {
  video:fullscreen {
    @apply object-contain;
    @apply h-full;
    @apply w-full;
    @apply p-0;
  }

  video:-webkit-full-screen {
    @apply object-contain;
  }

  video:-moz-full-screen {
    @apply object-contain;
  }

  video:-ms-fullscreen {
    @apply object-contain;
  }

  .header-text-transparent {
    -webkit-text-fill-color: transparent;
  }
}
