@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Zen+Kaku+Gothic+Antique&display=swap");
@import "tailwindcss";

@theme {
  /* colors */
  --color-rich-black-fogra29: #0d1f2d;
  --color-romance: #f2efe8;
  --color-dark-cyan: #363f43;
  --color-blanched-almond: #ffebcd;
  --color-ivory: #fcfaee;

  /* fonts */
  --font-sans: "Zen Kaku Gothic Antique", sans-serif;
  --font-questrial: "Questrial", sans-serif;

  /* shadows */
  --shadow-3xl: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
  --shadow-4xl: 0 50px 100px -20px rgba(0, 0, 0, 0.3);
  --shadow-5xl: 0 50px 100px -20px rgba(0, 0, 0, 0.6);

  /* animations */
  --animate-fade-in: fade-in 0.5s ease-in forwards;
  --animate-fade-out: fade-out 0.5s ease-in forwards;
  --animate-full-fade-in: full-fade-in 0.5s ease-in forwards;
  --animate-full-fade-out: full-fade-out 0.5s ease-in forwards;
  --animate-float: float 3s ease-in-out infinite;
  --animate-collapse: collapse 2s ease-in forwards;
  --animate-expand: expand 1.2s ease-in forwards;

  @keyframes fade-in {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0.5;
    }
  }

  @keyframes full-fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes full-fade-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(2%);
    }
  }

  @keyframes collapse {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    50% {
      transform: translateY(10%);
      opacity: 0;
      display: none;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
      display: none;
    }
  }

  @keyframes expand {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

@layer utilities {
  video:fullscreen {
    @apply object-contain;
    @apply h-full;
    @apply w-full;
    @apply p-0;
  }

  video:-webkit-full-screen {
    @apply object-contain;
  }

  video:-moz-full-screen {
    @apply object-contain;
  }

  video:-ms-fullscreen {
    @apply object-contain;
  }

  .header-text-transparent {
    -webkit-text-fill-color: transparent;
  }
}
